:root {
/* Default Theme (Theme 1) */
    --background: #3b4664;
    --theme-color: #cf4032;
    --header-font: #ffffff;
    --buttons: #252d44;
    --button: #eae3dc;
    --shadow-num: #b7b0ad;
    --shadow-del: #505a77;
    --shadow-result: #a3372d;
    --button-font: #191f32;
    --button-hover: #ffffff;
    --button-del: #647298;
    --button-del-font: #FFFFFF;
    --result: #191f32;
    --result-font: #ffffff;
}

body[data-theme="theme2"] {
    --background: #e5e4e1;
    --theme-color: #ff8b38;
    --header-font: #000000;
    --buttons: #d4cccf;
    --button: #e5e4e1;
    --shadow-num: #b7b0ad;
    --shadow-del: #477b80;
    --shadow-result: #cf7636;
    --button-font: #000000;
    --button-hover: #ffffff;
    --button-del: #67b3ba;
    --button-del-font: #ffffff;
    --result: #eeeeee;
    --result-font: #ffffff;
}

body[data-theme="theme3"] {
    --background: #17062a;
    --theme-color: #94fff9;
    --header-font: #fce14c;
    --buttons: #1e0836;
    --button: #341a51;
    --shadow-num: #602876;
    --shadow-del: #602876;
    --shadow-result: #82dbd7;
    --button-font: #fce14c;
    --button-hover: #804ec2;
    --button-del: #6934ae;
    --button-del-font: #ffffff;
    --result: #1e0836;
    --result-font: #17062a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "League Spartan", sans-serif;
    background-color: var(--background);
    transition: .5s;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--header-font);
}

#header #title h2 {
    font-size: 35px;
}

#themes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#themes .themes-nums {
    display: flex;
    align-self: end;
    gap: 28px;
}

#themes .themes-nums p {
    font-size: 18px;
    cursor: pointer;
}

#themes .button-change {
    display: flex;
    align-items: center;
    gap: 15px;
}

#themes .button-change p {
    font-size: 18px;
}

#themes .button-change .change-mode {
    background-color: var(--buttons);
    width: 90px;
    height: 28px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .5s;
}

#themes .button-change .circle {
    background-color: var(--theme-color);
    width: 28px;
    height: 28px;
    border-radius: 100px;
    transform: scale(.7);
    position: absolute;
    transition: .5s;
}

#result {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--result);
    color: var(--result-font);
    padding: 15px;
    border-radius: 10px;
    min-height: 72px;
    overflow-wrap: break-word;
}

#result h1 {
    font-size: 38px;
    color: var(--header-font);
}

#buttons {
    min-width: 100%;
    background-color: var(--buttons);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 18px;
    margin: 10px;
    border-radius: 10px;
    gap: 15px;
}

#buttons .num, #buttons .op {
    box-shadow: 0px 4px var(--shadow-num);
}

#buttons button:hover.num {
    background-color: var(--button-hover);
}

#buttons .reset, .result {
    grid-column: span 2;
}

#buttons .result {
    background-color: var(--theme-color);
    color: var(--result-font);
    box-shadow: 0px 4px var(--shadow-result);
}

#buttons .del, #buttons .reset {
    color: var(--button-del-font);
    background-color: var(--button-del);
    box-shadow: 0px 4px var(--shadow-del);
}

#buttons button {
    padding: 15px 10px;
    font-size: 22px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 800;
    background-color: var(--button);
    color: var(--button-font);
}

.attribution {
    margin: 10px 0px;
    color: var(--header-font);
    font-size: 20px;
}

.attribution a {
    color: var(--theme-color);
}

@media (max-width: 1024px) {
    #calculator {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #calculator {
        width: 70%;
    }

    .attribution {
        font-size: 18px;
    }
}

@media (max-width: 460px) {
    #calculator {
        width: 80%;
    }
}